/* top elements */
h1{ 
    font-family: 'dancing script';
    text-align:center;   
    font-size: 150px;   
    margin: 0 auto;    
    padding-bottom: 25px; 
    color:white;
} 
button{     
    font-family: 'dancing script';
    font-size:20px;   
    width:200px; 
    height:50px; 
    border-radius:10px; 
    background-color: pink; 
    color: white; 
    margin:20px 0 0 5px; 
    text-align: center;     
}   
header{
    background-image:url("../images/larrydavid.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%; 
    margin: 0 auto; 
    height: 400px; 
}
body{
    text-align: center; 
    background-color:black; 
    max-width: cover; 
}


/* sub top elements */
h2{ 
    font-family: 'Press Start 2P';
    background-color: #7A8E74; 
    padding:20px 0; 
    margin-top: 0;
}
h3{ 
    font-family: 'Press Start 2P';
    display:inline-block; 
    margin: 30px 20px; 
    background-color:black;
    color:white; 
    padding:20px; 
    border: 3px dotted white;
} 


/* middle elements */
.gameboard{ 
    border: 10px solid white;
    width: 1100px;
    margin: 0 auto;
    padding: 50px 50px;   
}   
.gameboard img{
    border-radius: 15px;  
    border:5px solid white;
    display: hidden;   
    margin:2px 3px;
} 

/* bottom elements */
.rules{
    text-align:center; 
    color:white;     
    width:1580px; 
    margin:0 auto;   
    padding:100px 0 0 0; 
}
strong{ 
    font-family: 'Press Start 2P';
    font-size:30px; 
    color:red;
}   

p{ 
    font-family: 'Press Start 2P';
    font-size:30px;   
    line-height:50px;  
}

ol{
    list-style-position: inside;    
    text-align:center; 
    position:relative; 
    
}

.rules li{
    font-size:40px; 
    color:yellow;   
    padding:0; 
    text-align:left;
}   

#luck{ 
    font-size: 60px;
    font-family: 'dancing script'; 
    line-height:70px;
} 
.rules img{
    margin:0 20px;   
    border-radius:15px;
}   
.rules #green{
    border:15px solid green;
}
.rules #red{
    border:15px solid red;
}
.rules p{
    text-align:left;
} 

